<div class="page-container">
  <nav #headerElement class="header navbar navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand" href=".">DW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="javascript:void(0)">About <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="javascript:void(0)">Resume</a>
          <a class="nav-item nav-link" href="javascript:void(0)">Showcase</a>
          <a class="nav-item nav-link" href="javascript:void(0)">Contact</a>
      </div>
    </div>
  </nav>
  <div #introductionSectionElement class="container-fluid">
    <div class="introduction-text">HELLO, MY NAME IS DYLAN WISE.</div>
  </div>
  <div class="container-fluid about-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 personal-photograph-column">
          <div class="personal-photograph-container"><img class="personal-photograph" src="../../assets/photos/personal-photograph.jpg"></div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
          <p class="paragraph-text">
            Hello! My name is Dylan. I am a software developer currently living in Louisville, KY. I am very passionate about
            programming and front end development.
          </p>
          <p class="paragraph-text">
            I am a University of Kentucky graduate with a Bachelor of Science in Computer Science. While attending at the University
            I worked in the Department of Statistics assisting grad students with gathering data by scraping the web heavily using
            regular expressions so that they could do analysis. I also worked on developing interactive front end web applications using
            R with RStudio and Shiny.
          </p>
          <p class="paragraph-text">
            I currently work for UPS as a front end developer creating web apps using Angular. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
