.page-container {
    height: 100%;
    background-color: darkslategrey;
    position: relative;
}

.header {
    background-color: white;
    border-bottom:1px solid #CAD4DD;
    transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s, color 0.375s ease-in-out 0s;
}

@media (min-width: 992px) {
    .header {
        background-color: transparent;
        height: 100px;
        border-bottom: 1px rgba(255,255,255,0.15) solid;
    }
}

.header.small-header {
    background-color: white;
    border-bottom:1px solid #CAD4DD;
}

@media (min-width: 992px) {
    .header.small-header {
        height: 60px;
        border-bottom:1px solid #CAD4DD;
    }
}

.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: auto;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 3.5rem;
}

.about-section {
    background-color: #2f2f4f;
    padding-top: 40px;
    padding-bottom: 15px;
}

.paragraph-text {
    color: white;
}

.personal-photograph-container {
    text-align: center;
}

.personal-photograph {
    border-radius: 50%;
    width: 200px;
}

.personal-photograph-column
{
    padding-bottom: 20px;
}